/* HERO  */
.hero {
    padding-top: 61px;
    padding-bottom: 124px;
    background-image: url(../../../public/images/bg.svg);
    background-position: calc(50% + 698px) 195px;
    background-repeat: no-repeat;
}

.hero__container {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.hero__content {
    display: flex;
    flex-direction: column;
    min-width: 540px;
    padding-top: 70px;
    margin-right: 65px;
    margin-left: -8px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 24px;
    color: var(--black);
    font-size: 48px;
    line-height: 52px;
    font-weight: 500;
    letter-spacing: -0.15px;
}

.hero__description {
    margin: 0;
    margin-bottom: 32px;
}

.hero__button-wrapper {
    display: flex;
    align-items: center;
}

.hero__img {
    flex-shrink: 0;
    height: 385px;
    border-radius: 27px;
    box-shadow: 0px 2px 4px 0px #00000080;
}