/* SITE-HEADER  */
.site-header {
    padding-top: 48px;
    padding-bottom: 48px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    flex-shrink: 0;
    transition: opacity 0.3s ease;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    width: 149px;
    height: 25px;
    object-fit: cover;
}

.sitenav {
    display: flex;
    align-items: center;
}

.site-header__sitenav {
    margin-left: auto;
    padding-left: 30px;
}

.sitenav__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    margin-right: 48px;
    padding: 0;
}

.sitenav__item:not(:last-child) {
    margin-right: 44px;
}

.sitenav__link {
    text-transform: uppercase;
    color: var(--black);
    text-decoration: none;
    font-size: 13px;
    line-height: 17px;
    font-weight: 500;
    letter-spacing: 1.5px;
    transition: color 0.3s ease,
        opacity 0.3s ease;
}

.sitenav__link:hover {
    color: var(--red);
    transition: color 0.3s;
}

.sitenav__link:active {
    opacity: 0.6;
}