/* INDEX-FEATURES  */
.index-features {
    padding-top: 57px;
    padding-bottom: 100px;
    background-image: url(../../../public/images/bg.svg);
    background-repeat: no-repeat;
    background-position: calc(50% - 583px) calc(50% + 193px);
}

.index-features__content {
    margin-bottom: 40px;
}

.tabs__list {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabs__item {
    width: 243px;
    text-align: center;
    border-bottom: 1px solid rgba(73, 93, 207, 0.2);
}

.tabs__item--active .tabs__link {
    color: var(--black);
    border-color: var(--red);
}

.tabs__link {
    display: block;
    padding-top: 27px;
    padding-bottom: 27px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    border-bottom: 4px solid transparent;
    color: rgba(36, 42, 69, 0.75);
}

.tabs__link:hover {
    color: var(--black);
}

.tabs__link:active {
    opacity: 0.6;
}

.tabs__link:focus {
    outline: none;
    color: var(--black);
    border-color: var(--red);
}

.tab-panels {
    padding-top: 68px;
    padding-bottom: 72px;
}

.tab-panels__tab-panel {
    display: none;
}

.tab-panels__tab-panel--active {
    display: block;
}

.tab-panels__tab-panel-inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tab-panels__tab-panel-img {
    object-fit: contain;
}

.tab-panels__tab-panel-img-simple-bookmarking {
    width: 536px;
    height: 346px;
    margin-right: 125px;
}

.tab-panels__tab-panel-img-speedy-searching {
    width: 468px;
    height: 393px;
    margin-right: 118px;
}

.tab-panels__tab-panel-img-easy-sharing {
    width: 440px;
    height: 380px;
    margin-right: 145px;
}

.tab-panels__tab-panel-content {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    max-width: 445px;
}

.tab-panels__tab-panel-content-title {
    margin-top: 0;
    margin-bottom: 16px;
    color: var(--black);
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
}

.tab-panels__tab-panel-content-description {
    margin: 0;
    margin-bottom: 31px;
}